.m-layout {
  position: relative;

  &>.query {
    padding: 20px 20px 0px 20px;
    border: 1px solid #ebeef5;

    .el-input {
      width: 320px;
    }

    .el-select {
      .el-input {
        width: 100px;
      }
    }

    .btn {
      position: absolute;
      top: 20px;
      left: 425px;
    }
  }
  &>.operation{
    padding-top: 20px;
  }
  &>.list {
    padding-top: 20px;
  }

  &>.page {
    padding-top: 20px;
    text-align: right;
  }
}
