.m-layout {
  position: relative;
  &>.operation {
    padding-top: 20px;
  }
  &>.query {
    margin-top: 20px;
    padding: 20px 20px 0px 20px;
    border: 1px solid #ebeef5;
    .el-input {
      width: 150px;
    }

    .el-select {
      .el-input {
        width: 100px;
      }
    }
  }

  &>.list {
    padding-top: 20px;
  }

  &>.page {
    padding-top: 20px;
    text-align: right;
  }
}
